* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 212, 243);
    max-width: 750px;
    box-sizing: border-box;
    margin: 2% auto;
    border: 10px groove red;
    padding-top: 5px;
}   

.content {
    margin-top: 5px;
}

img {
    float: left;
    margin: 5px 10px;
    border: 2px groove black;
    width: 30%;
}

p {
    margin: 10px;
}

h2 {
    margin-left: 5px;
}



