@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(169, 166, 170, 0.753);
    max-width: min(750px,98%);
    box-sizing: border-box;
    margin: 2% auto;
    border: 10px groove #8F3985;
    border-radius: 15px;
    font-family: "Mona Sans";
    color: #13151f;
}   

.container {
    padding: 20px;
    background-color: rgb(206, 208, 218);
}

.content {
    margin-top: 5px;
    margin-left: 5px;
}

img {
    float: left;
    margin: 5px 10px;
    border: 2px solid black;
    width: 30%;
    border-radius: 10px;
}

p {
    margin: 10px;
}

h2 {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.774);
    transition: 0.2s;
}

a:hover, a:focus {
    color: rgba(255, 0, 0, 0.664);
}

a.alert {
    
}


